/* BORDER */
/* BORDER */
/* BORDER */
/* BORDER */
/* PADDING */
/* PADDING */
/* PADDING */
/* PADDING */
/* MARGIN */
/* MARGIN */
/* MARGIN */
/* MARGIN */
/* FLOAT */
/* FLOAT */
/* FLOAT */
/* FLOAT */
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
/* FLOAT */
/* FLOAT */
/* FLOAT */
/* FLOAT */
.clear {
  clear: both;
}
.dib {
  display: inline-block;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dn {
  display: none;
}
/* fonts */
/* fonts */
/* fonts */
/* fonts */
.bold {
  font-weight: 600;
}
.lighter {
  font-weight: 300;
}
.normal {
  font-weight: normal;
}
.italic {
  font-style: italic;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.tdn {
  text-decoration: none;
}
.tdu {
  text-decoration: underline;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
/* OTHER */
/* OTHER */
/* OTHER */
/* OTHER */
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.list {
  list-style-type: none;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* CONTENT */
/* CONTENT */
/* CONTENT */
/* CONTENT */
/* COLOR BASE */
/* COLOR BASE */
section#profile .window {
  padding: 15px 10px;
  text-align: left;
  position: relative;
  margin-bottom: 10px;
}
section#profile .col {
  text-align: left;
}
section#profile .title-window {
  height: 50px;
}
