/* BORDER */
/* BORDER */
/* BORDER */
/* BORDER */
/* PADDING */
/* PADDING */
/* PADDING */
/* PADDING */
/* MARGIN */
/* MARGIN */
/* MARGIN */
/* MARGIN */
/* FLOAT */
/* FLOAT */
/* FLOAT */
/* FLOAT */
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
/* FLOAT */
/* FLOAT */
/* FLOAT */
/* FLOAT */
.clear {
  clear: both;
}
.dib {
  display: inline-block;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dn {
  display: none;
}
/* fonts */
/* fonts */
/* fonts */
/* fonts */
.bold {
  font-weight: 600;
}
.lighter {
  font-weight: 300;
}
.normal {
  font-weight: normal;
}
.italic {
  font-style: italic;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.tdn {
  text-decoration: none;
}
.tdu {
  text-decoration: underline;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
/* OTHER */
/* OTHER */
/* OTHER */
/* OTHER */
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.list {
  list-style-type: none;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* CONTENT */
/* CONTENT */
/* CONTENT */
/* CONTENT */
/* COLOR BASE */
/* COLOR BASE */
section#calendar {
  padding-top: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#calendar .window {
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#calendar .timeline {
  position: absolute;
  width: 100%;
  color: #ce5f00;
  left: 0;
  z-index: 5;
  font-size: 10px;
  text-align: left;
}
section#calendar .timeline:before {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  background: #ce5f00;
}
section#calendar ul.days {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
section#calendar ul.days li.hour {
  width: 3%;
}
section#calendar ul.days li {
  padding: 0 0.4%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0;
  display: table-cell;
  width: 14%;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
}
section#calendar ul.days span {
  font-size: 13px;
  display: block;
  font-weight: 400;
}
section#calendar .event {
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 96%;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  z-index: 2;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 12px;
  float: left;
  margin: 0.5% 2%;
}
section#calendar .event a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
section#calendar .month {
  float: left;
  width: 100%;
}
section#calendar .month ul.table {
  float: left;
  width: 100%;
  border-right: 1px solid #e6e6e4;
  border-top: 1px solid #e6e6e4;
}
section#calendar .month ul.table li {
  width: 100%;
  display: table;
}
section#calendar .month .day {
  margin: 10px 0;
  display: table-cell;
  width: auto;
  border: 1px solid #e6e6e4;
  border-right: 0;
  border-top: 0;
  position: relative;
  overflow: hidden;
}
section#calendar .month .day:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
section#calendar .month .day .box {
  margin: auto;
  display: inline-block;
  background: #f4f4f4;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
section#calendar .month .day .box:hover {
  background: #dedede;
}
section#calendar .month .day .box:before {
  content: '';
  display: inline-block;
  margin-top: 100%;
}
section#calendar .month .day .hidden {
  background: #ffffff;
}
section#calendar .month .day .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
section#calendar .month .day a.add {
  text-decoration: none;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
section#calendar .month .day .number {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: right;
  padding-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #b9b9b9;
  font-weight: 900;
  font-size: 20px;
}
section#calendar .month .day .events {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}
section#calendar .month .day .event {
  position: relative;
}
section#calendar .month .day .info-box {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 12px;
}
section#calendar .month .day .info-box .visit {
  display: table-cell;
  vertical-align: middle;
}
section#calendar .month .day .info-box .count {
  font-size: 14px;
  margin-bottom: 4px;
  color: #ffffff;
}
section#calendar .month .day .info-box ul {
  float: left;
  width: 100%;
  padding: 0 1vw;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#calendar .month .day .info-box ul li {
  display: inline-block;
  color: #ffffff;
  text-align: left;
  margin: 4px 0;
}
section#calendar .month .day .info-box ul li span {
  display: inline-block;
}
section#calendar .month .day .info-box .more {
  font-size: 16px;
}
section#calendar .week .event,
section#calendar .oneday .event {
  position: absolute;
}
section#calendar .week .day,
section#calendar .oneday .day {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  position: relative;
}
section#calendar .week .day:before,
section#calendar .oneday .day:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
section#calendar .week .day .box,
section#calendar .oneday .day .box {
  margin: auto;
  display: inline-block;
  background: #f4f4f4;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #e6e6e4;
}
section#calendar .week .day .box:hover,
section#calendar .oneday .day .box:hover {
  background: #dedede;
}
section#calendar .week .day .box:before,
section#calendar .oneday .day .box:before {
  content: '';
  display: inline-block;
}
section#calendar .week ul.table,
section#calendar .oneday ul.table {
  position: relative;
  float: left;
  width: 100%;
  display: table;
}
section#calendar .week {
  float: left;
  width: 100%;
}
section#calendar .week ul.days li.hour {
  width: 3.5%;
  min-width: 41px;
}
section#calendar .week ul.table {
  border-right: 1px solid #e6e6e4;
  border-top: 1px solid #e6e6e4;
}
section#calendar .week ul.table li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0;
  display: table-cell;
  width: auto;
  position: relative;
  border-left: 1px solid #e6e6e4;
}
section#calendar .week ul.table li.hour {
  width: 3.5%;
  min-width: 45px;
  vertical-align: top;
  padding: 0;
  border-left: 0;
}
section#calendar .week ul.table li.hour .day {
  vertical-align: top;
}
section#calendar .week ul.table li.hour .day .box {
  height: 100%;
  background: none;
}
section#calendar .week ul.table li.hour .day .box:before {
  content: none;
}
section#calendar .week ul.table li.hour .day .box span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  color: #b9b9b9;
}
section#calendar .week .day .box:before {
  margin-top: 163px;
}
section#calendar .oneday .window {
  text-align: left;
  position: relative;
}
section#calendar .oneday .window .images {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-block;
  width: 25%;
  height: auto;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  background: #f4f4f4;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100px;
}
section#calendar .oneday .window .images img {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
}
section#calendar .oneday .window ul.data li {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  display: block;
}
section#calendar .oneday .window ul.data li:last-child {
  margin-bottom: 0;
}
section#calendar .oneday .window ul.data li.line {
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}
section#calendar .oneday .window ul.data i {
  font-size: 18px;
  margin-right: 6px;
}
section#calendar .oneday .window ul.data a {
  text-decoration: none;
}
section#calendar .oneday .window ul.data a:hover {
  color: #2f2f2f;
  font-weight: 600;
}
section#calendar .oneday .window p {
  display: block;
  margin-top: 5px;
  line-height: 24px;
}
section#calendar .oneday .window span.title {
  font-weight: 600;
}
section#calendar .oneday .window span.name {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  width: 60%;
}
section#calendar .oneday .window span.address {
  float: left;
  width: 100%;
  line-height: 24px;
  margin: 10px 0;
}
section#calendar .oneday ul.table li {
  margin: 10px 0;
  display: table-cell;
  width: auto;
  position: relative;
}
section#calendar .oneday ul.table li.hour {
  width: 8%;
  vertical-align: top;
  padding: 0;
  min-width: 35px;
}
section#calendar .oneday ul.table li.hour .day {
  vertical-align: top;
}
section#calendar .oneday ul.table li.hour .day .box {
  height: 100%;
  background: none;
}
section#calendar .oneday ul.table li.hour .day .box:before {
  content: none;
}
section#calendar .oneday ul.table li.hour .day .box span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  color: #b9b9b9;
}
section#calendar .oneday ul.days li {
  float: left;
  width: 100%;
  font-weight: 600;
}
section#calendar .oneday .day .box:before {
  margin-top: 25%;
}
section#calendar .oneday .col {
  vertical-align: top;
}
@media only screen and (max-width: 1200px) {
  section#calendar .month .col,
  section#calendar .week .col {
    width: 99% !important;
  }
  section#calendar .onday .col-7 {
    width: 99% !important;
  }
}
@media only screen and (max-width: 992px) {
  section#calendar .month .day .info-box .count {
    padding: 5px;
    color: #ffffff;
    font-size: 12px;
  }
  section#calendar .month .day .info-box ul,
  section#calendar .month .day .info-box .more {
    display: none;
  }
  section#calendar .days .day {
    font-size: 16px;
  }
  section#calendar .week .day .box:before {
    margin-top: 120px;
  }
  section#calendar .oneday .col-7 {
    width: 98% !important;
  }
  section#calendar .oneday ul.days .li {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  section#calendar .month ul.days .li {
    font-size: 14px;
  }
  section#calendar .month .day .number {
    font-size: 14px;
  }
  section#calendar .month .day .box:before {
    margin-top: 150%;
  }
  section#calendar .week ul.days li.hour {
    min-width: 40px;
  }
  section#calendar .week ul.days li {
    font-size: 14px;
  }
  section#calendar .week ul.days li span {
    font-size: 12px;
  }
  section#calendar .week .day .box:before {
    margin-top: 100px;
  }
  section#calendar .oneday ul.days li {
    font-size: 14px;
  }
  section#calendar .oneday .day .box:before {
    margin-top: 140px;
  }
  section#calendar .oneday ul.table li.hour .day .box span {
    font-size: 12px;
  }
  section#calendar .oneday .pagination {
    text-align: center;
  }
  section#calendar .oneday .pagination a {
    display: inline-block;
    float: none;
  }
}
@media only screen and (max-width: 480px) {
  section#calendar .event {
    font-size: 10px;
    margin: 2%;
    padding: 2px;
  }
  section#calendar .month .day .box:before {
    margin-top: 200%;
  }
  section#calendar .month .day .number {
    font-size: 12px;
    padding-right: 10%;
  }
  section#calendar .week ul.days span {
    display: none;
  }
  section#calendar .week ul.days li.hour {
    min-width: 30px;
  }
  section#calendar .week ul.days li {
    font-size: 12px;
    width: auto;
  }
  section#calendar .week .day .box:before {
    margin-top: 70px;
  }
  section#calendar .week ul.table li {
    padding: 0;
  }
  section#calendar .week ul.table li.hour {
    min-width: 30px;
  }
  section#calendar .week ul.table li.hour .day .box span {
    font-size: 10px;
  }
  section#calendar .oneday .event {
    padding: 10px;
    font-size: 14px;
  }
  section#calendar .oneday .col {
    margin-left: 0;
    width: 100%;
  }
  section#calendar .oneday .row .col {
    display: none;
  }
  section#calendar .oneday .row .col:first-child {
    display: inline-block;
  }
  section#calendar .oneday ul.days li {
    font-size: 14px;
  }
  section#calendar .oneday .window ul li .btn {
    width: 150px;
    display: block;
    margin: 5px auto;
    text-align: left;
  }
}
