/* BORDER */ /* BORDER */ /* BORDER */ /* BORDER */

	.b (@bb:none) {
		border:@bb;
	}
	.bt (@bt:none) {
		border-top:@bt;
	}
	.bb (@bb:none) {
		border-bottom:@bb;
	}
	.bl (@bl:none) {
		border-left:@bl;
	}
	.br (@br:none) {
		border-right:@br;
	}

/* PADDING */ /* PADDING */ /* PADDING */ /* PADDING */

	.pp (@pp:10px 10px 10px 10px) {
		padding:@pp;
	}
	.pt (@pt:10px) {
		padding-top:@pt
	}
	.pb (@pt:10px) {
		padding-bottom:@pt
	}
	.pl (@pt:10px) {
		padding-left:@pt
	}
	.pr (@pt:10px) {
		padding-right:@pt
	}

/* MARGIN */ /* MARGIN */ /* MARGIN */ /* MARGIN */

	.m (@m:10px) {
		margin:@m;
	}
	.mt (@mt:10px) {
		margin-top:@mt
	}
	.mb (@mb:10px) {
		margin-bottom:@mb
	}
	.ml (@ml:10px) {
		margin-left:@ml
	}
	.mr (@mr:10px) {
		margin-right:@mr
	}

/* FLOAT */ /* FLOAT */ /* FLOAT */ /* FLOAT */

	.fl {
		float:left;
	}
	.fr {
		float:right;
	}
	.fn {
		float:none;
	}

/* FLOAT */ /* FLOAT */ /* FLOAT */ /* FLOAT */

	.clear {
		clear:both;
	}
	.dib {
		display:inline-block;
	}
	.di {
		display:inline;
	}
	.db {
		display:block;
	}
	.dn {
		display:none;
}

/* fonts */ /* fonts */ /* fonts */ /* fonts */
	.c(@color:#FFF){
		color:@color;
	}
	.bold {
		font-weight:600;
	}
	.lighter {
		font-weight:300;
	}
	.normal{
		font-weight:normal;
	}
	.italic {
		font-style:italic;
	}
	.left {
		text-align:left;
	}
	.right {
		text-align:right;
	}
	.tdn {
		text-decoration:none;
	}
	.tdu {
		text-decoration:underline;
	}
	.center {
		text-align:center;
	}
	.justify {
		text-align:justify;
	}
	.uppercase {
		text-transform: uppercase;
	}
	.lowercase {
		text-transform: lowercase;
	}
	.text-shadow (@shadow: 1px 1px 0 #e0e0e0) {
		text-shadow:@shadow;
	}
	.lh (@lh:23px) {
		line-height:@lh;
	}
	.size(@size:14px) {
		font-size:@size;
	}
	.fw(@font-weight:14px) {
		font-weight:@font-weight;
	}
/* OTHER */	/* OTHER */	/* OTHER */	/* OTHER */

	.pointer {
		cursor:pointer;
	}
	.relative {
		position:relative;
	}
	.absolute {
		position:absolute;
	}
	.bg (@bg:#FFF) {
		background:@bg;
	}
	.bp (@bp:0 0) {
		background-position:@bp;
	}
	.list {
		list-style-type:none;
	}
	.w (@w:100%) {
		width:@w;
	}
	.minw (@minw:50%) {
		min-width:@minw;
	}
	.maxw (@maxw:938px) {
		max-width:@maxw;
	}
	.h (@h:100%) {
		height:@h;
	}
	.minh (@minh:100%) {
		min-height:@minh;
	}
	.maxh (@maxh:100%) {
		max-height:@maxh;
	}
	.radius (@radius:10px) {
		border-radius: @radius;
		-moz-border-radius: @radius;
		-webkit-border-radius: @radius;
		-o-border-radius: @radius;
	}
	.box-sizing {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.box-shadow (@bs:0px 0px 2px #c6c6c6) {
		box-shadow:@bs;
	}

/* CONTENT */ /* CONTENT */ /* CONTENT */ /* CONTENT */

/* COLOR BASE */

@blue-3: #0099FF;
@blue-2: #005494;
@blue-1: #0090ff;

@border-1: #e6e6e4;

@grey-3: #DEDEDE;
@grey-2: #B9B9B9;
@grey-1: #2F2F2F;

/* COLOR BASE */


section#search {
	.pt(30px);

	.window {
		.pp(15px);
		.left;
		.relative;
	}

	input {
		.m(auto);
		.w;
		.pp(10px);
		.box-sizing;
		.bg(#f4f4f4);
		.b(1px solid @border-1);
		.c(@grey-2);
	}

	.filter {
		.mb(20px);

		span.title {
			.left;
			.fw(600);
			.fl;
			.mb(15px);
			.h(33px);
			.lh(33px);
		}

		.hidden {
			.fr;
		}

		ul.field {
			.fl;
			.w;

			li {
				.dib;
				.w(50%);
				.center;
				.fl;
				.box-sizing;

				&:nth-child(2n) {
					.pl(10px);
				}
			}

			label, fieldset {
				.fl;
				.w;
				.left;
				.m(4px 0);
				.c(@grey-2);
				.fw(300);
			}

			li.time {
				input {
					.w(85%);
				}

				i {
					.size(28px);
					.relative;
					.fr;
					top:5px;
					.mr(5px);
					.c(@blue-1);
				}
			}

			li.full {
				.w;
			}
		}


		ul.action {
			.center;
			.dib;
			.w;
			.b(0);
			.m(10px auto auto);
			.pp(10px 0 0);
			.bt(1px solid @border-1);

			li {
				.dib;
				float:none;
				.w(auto);
				.m(0 8px);
			}
		}
	}

	.filter.small {
		.h(76px);
		.mt(-20px);

		.hidden {
			.dn;
		}

		ul.field {
			.w(82%);

			label {
				.w(20%);
				.lh(38px);
			}

			fieldset {
				.w(80%);
			}
		}

		ul.action {
			.w(18%);
			.bt(0);
			.mt(5px);
			.pp(0);
			.right;

			li {
				.m(0);
			}
		}
	}

	.row.result {
		.mt(20px);

		.window {
			.pp(0 15px);
		}
	}

	ul.bxslider {
		.fl;
		.w;
		.m(0);
	}

	ul.list {
		.fl;
		.w;

		li {
			.fl;
			.w;
			display:table;
			.relative;

			&:before {
				content:'';
				.w;
				.absolute;
				top:0;
				left:0;
				.h(1px);
				.bg( @border-1);
				.dib;
			}


			&:first-child {
				.bt(0);

				&:before {
					content:none;
				}
			}
		}
	}

	.box {
		.dib;
		.bl(1px dotted @border-1);
		.pp(0);
		.box-sizing;
		vertical-align:top;
		.relative;
		.minh(60px);

		&:first-child {
			.bl(0);
			.pl(0);
		}

		a {
			.c(@blue-2);
			.tdn;
		}

		span.name {
			.h(auto);
			.lh(normal);
			.w(70%);
			.fl;
		}

		.pic {
			.fl;
			.w(50%);
			.minw(60px);
		}

		.images {
			.fl;
			.w;
			.h(auto);
			.radius(100%);
			.bg(#F4F4F4);
			.pp(3px);
			.box-sizing;
			.maxw(80px);
			.relative;

			a.more {
				.c(#FFF);
				.bg(@blue-1);
				.w(20px);
				.h(20px);
				.absolute;
				bottom:0;
				right:0px;
				.radius(100%);
				.center;

				i {
					.size(14px);
					.c(#FFF);
					.mr(0);
				}
			}

			img {
				.w;
				.h(auto);
				.fl;
				.radius(100%);
			}
		}

		.name {
			.dib;
			.w(50%);
			.fl;
		}


		span.specialization {
			.size(12px);
			.fl;
			.w;
		}


		.address {
			.fl;
			.w(50%);


			a {
				.fl;
				.size(13px);
			}

			span.number {
				.fl;
				.size(24px);
				.size(20px);
				.fw(600);
				.radius(100%);
				.b(1px solid @blue-2);
				.w(25px);
				.h(25px);
				.lh(25px);
				.c(@blue-2);
				.fw(600);
				.center;
				.mr(10px);
				.relative;
				.dib;
				.uppercase;
			}

			span.company {


			}

			span.street {
				.mt(5px);
				.w;
				.fl;
				.size(13px);
			}
		}

	}

	.box.pic {
		.pl(0);
		.w(6%);
	}

	.box.data {
		.pl(20px);
		.w(43%);
		.box-sizing;
		.bl(0);
	}

	.box.calendar {
		.w(50%);
		.dib;
		.center;

		a {
			.size(18px);
			.fw(600);
		}

		.terms {
			display:table;
			.w;

			li {
				.w(33%);
				.dib;
				.b(0);
				.pp(0 10px);
				.box-sizing;

				&:before {
					content:none;
				}
			}
		}

		.day {
			.fl;
			.w;
			.center;

			.date {
				.fl;
				.w(100%);
				.dib;
				.lh(24px);

			}
		}

		.percent {
			.bg(@border-1);
			.radius(10px);
			.w(100%);
			.fl;
			.h(24px);

			span {
				.c(#FFF);
				.lh(24px);
				.bg(@blue-1);
				.radius(10px);
				.center;
				.size(12px);
				.fl;

			}

		}




	}



}


@media only screen and (max-width : 480px){

	section#search {

		ul.list {
			li {
				.pp(15px 0);
			}
		}

		.date-visit {
			.w;
			.dib;
			.pp(0);
			.b(0);

			span {
				.relative;
				.fl;
				top:0;
				left:0;
				.mr(5px);
			}
		}

		.box, .box.first {
			.w;
			.pp(0);
			.b(0);
		}

		.box {
			.mt(10px);
		}

		.box.action {
			.w(auto);
			.b(0);
			.absolute;
			top:5px;
			right:0;
			.mt(0);

			a {
				.dib;
				.m(0 5px);
			}
		}

		.box {
			span.name {
				.w(70%);
			}

			.pic {
				.fr;
				.w(60px);
			}
		}
	}


}
