/* BORDER */
/* BORDER */
/* BORDER */
/* BORDER */
/* PADDING */
/* PADDING */
/* PADDING */
/* PADDING */
/* MARGIN */
/* MARGIN */
/* MARGIN */
/* MARGIN */
/* FLOAT */
/* FLOAT */
/* FLOAT */
/* FLOAT */
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
/* FLOAT */
/* FLOAT */
/* FLOAT */
/* FLOAT */
.clear {
  clear: both;
}
.dib {
  display: inline-block;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dn {
  display: none;
}
/* fonts */
/* fonts */
/* fonts */
/* fonts */
.bold {
  font-weight: 600;
}
.lighter {
  font-weight: 300;
}
.normal {
  font-weight: normal;
}
.italic {
  font-style: italic;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.tdn {
  text-decoration: none;
}
.tdu {
  text-decoration: underline;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
/* OTHER */
/* OTHER */
/* OTHER */
/* OTHER */
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.list {
  list-style-type: none;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* CONTENT */
/* CONTENT */
/* CONTENT */
/* CONTENT */
/* ELEMENTS */
/* ELEMENTS */
/* ELEMENTS */
/* ELEMENTS */
/* ELEMENTS */
/* COLUMN */
.col-8 {
  width: 100%;
}
.col-7 {
  width: 90%;
  max-width: 1220px;
}
.col-6 {
  width: 75%;
}
.col-5 {
  width: 66%;
}
.col-4 {
  width: 55%;
}
.col-3 {
  width: 49%;
}
.col-2 {
  width: 32.5%;
}
.col-1 {
  width: 24.07%;
}
.col {
  margin-left: 1%;
  display: inline-block;
}
.row {
  text-align: center;
}
.row .col:first-child {
  margin-left: 0;
}
/* COLUMN */
/* BUTTON */
.btn.sm {
  padding: 5px 8px;
  font-size: 12px;
}
.btn.md {
  padding: 7px 11px;
  font-size: 14px;
}
.btn.lg {
  padding: 10px 15px;
  font-size: 16px;
}
.btn.cw {
  background: #717171 !important;
  border-bottom: 2px solid #2f2f2f !important;
}
.btn.cw:hover {
  background: #2f2f2f !important;
  border-bottom: 2px solid #000000 !important;
}
.btn {
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2px 0;
  text-decoration: none;
}
.btn i {
  margin-right: 3px;
  color: #ffffff !important;
}
/* BUTTON */
/* CHECKBOX ON / OFF */
.onoffswitch {
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  padding: 0;
  line-height: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  background-color: #F4F4F4;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block;
  width: 20px;
  margin: 0px;
  background: #0167b9;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 28px;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #F4F4F4;
}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #F4F4F4;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}
/* CHECKBOX ON / OFF */
/* WINDOW */
.window {
  background: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #e6e6e4;
  border-bottom: 3px solid #e6e6e4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}
/* OPEN WINDOW */
#layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: block;
}
#layer .col {
  min-width: 270px;
  max-width: 350px;
}
#layer .content {
  display: table;
  height: 100%;
}
#layer .row {
  display: table-cell;
  vertical-align: middle;
}
#layer .window {
  padding: 10px 15px;
  position: relative;
  font-size: 16px;
}
#layer .close {
  position: absolute;
  top: -9px;
  right: 18px;
  color: #717171;
  font-size: 28px;
}
#layer .close:before {
  content: '';
  background: #ffffff;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#layer .close i {
  z-index: 2;
  position: absolute;
  top: 2px;
  left: 3px;
}
#layer #form ul.field {
  float: left;
  width: 100%;
}
#layer #form ul.field li {
  display: inline-block;
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 0;
  text-align: left;
}
#layer #form ul.field li span {
  text-align: left;
  font-weight: 600;
  float: left;
  margin-bottom: 15px;
}
#layer #form ul.field li label,
#layer #form ul.field li fieldset {
  float: left;
  width: 100%;
  text-align: left;
  margin: 4px 0;
  color: #717171;
  font-weight: 300;
}
#layer #form ul.field li.center {
  text-align: center;
}
#layer #form ul.field li.horizontal label,
#layer #form ul.field li.horizontal fieldset {
  width: auto;
  margin-right: 10px;
  display: inline-block;
  float: none;
}
#layer #form li.line {
  border-bottom: 1px solid #e6e6e4;
  padding-bottom: 10px !important;
  margin-bottom: 10px;
}
#layer #form input {
  float: left;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f4f4f4;
  border: 1px solid #e6e6e4;
  color: #717171;
}
#layer #form ul.action {
  text-align: center;
  display: inline-block;
  border: 0;
  margin: auto;
  padding: 5px 0 0;
}
#layer #form ul.action li {
  display: inline-block;
  float: none;
  width: auto;
  margin: 0 8px;
}
#layer #form ul.action li.block {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}
#layer #form ul.action li.block a {
  color: #717171;
  text-decoration: none;
  font-weight: 300;
}
#layer #form ul.action li.block a:hover {
  color: #000000;
}
#layer #form ul.action li.block .social {
  padding: 8px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  color: #ffffff;
  font-size: 12px;
}
#layer #form ul.action li.block .social i {
  margin: 5px;
}
#layer #form ul.action li.block a.facebook {
  background: #3765a3;
  border-bottom: 2px solid #2a4e80;
}
#layer #form ul.action li.block a.google {
  background: #dc4e42;
  border-bottom: 2px solid #a93c33;
}
#layer #form ul.action .close-window {
  background: #717171;
}
#layer #calendar {
  padding: 0 0 10px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
#layer #calendar .close {
  color: #ffffff;
}
#layer #calendar .close:before {
  background: #0167b9;
}
#layer #calendar .date {
  float: left;
  width: 100%;
  background: #0167b9;
  padding: 15px 20px;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#layer #calendar .date span {
  display: block;
  text-align: left;
}
#layer #calendar .date .year {
  color: rgba(255, 255, 255, 0.5);
  font-size: 36px;
}
#layer #calendar .date .month,
#layer #calendar .date .day {
  color: #ffffff;
  padding: 0 !important;
}
#layer #calendar .date .month {
  font-size: 22px;
}
#layer #calendar .date .day {
  font-weight: 300;
}
#layer #calendar .month {
  float: left;
  width: 100%;
  padding: 20px 0;
}
#layer #calendar .month span {
  margin: 0 20px;
  top: -3px;
  position: relative;
}
#layer #calendar .month a {
  text-decoration: none;
  color: #0167b9;
}
#layer #calendar .month i {
  font-size: 30px;
}
#layer #calendar .days {
  float: left;
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#layer #calendar .days ul {
  float: left;
  width: 100%;
}
#layer #calendar .days ul li {
  display: table;
  width: 14.2%;
  float: left;
  padding: 10px 0;
  font-size: 14px;
}
#layer #calendar .days ul .day {
  color: #0167b9;
}
#layer #calendar .days ul a {
  text-decoration: none;
  color: #2f2f2f;
  min-width: 25px;
  display: inline-block;
  position: relative;
}
#layer #calendar .days ul a span {
  position: relative;
  z-index: 1;
}
#layer #calendar .days ul a span:hover {
  color: #ffffff;
}
#layer #calendar .days ul a:hover {
  color: #ffffff;
}
#layer #calendar .days ul a:hover:before {
  content: '';
  background: #0167b9;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 0;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
}
#layer #calendar .days ul .active {
  color: #ffffff;
}
#layer #calendar .days ul .active:before {
  content: '';
  background: #0167b9;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 0;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
}
/* WINDOW */
/* COLOR */
.blue .btn {
  background: #0167b9;
  border-bottom: 2px solid #004579;
}
.blue .btn:hover {
  background: #004579;
  border-bottom: 2px solid #000000;
}
/* OTHER CLASS */
a.disabled {
  cursor: default;
}
/* PAGINATION */
.pagination {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.pagination a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}
.pagination a:hover {
  background: #ff0000;
  color: #ffffff !important;
}
.pagination a:hover i {
  color: #ffffff !important;
}
.pagination .prev {
  float: left;
}
.pagination .prev i {
  margin-right: 6px;
}
.pagination .next {
  float: right;
}
.pagination .next i {
  margin-left: 6px;
}
/* PAGINATION */
/* TABS */
.tabs-wrapper {
  float: left;
  width: 100%;
}
.tabs-wrapper ul.tabs {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}
.tabs-wrapper ul.tabs li {
  width: auto;
  border: 0;
  display: inline-block;
  float: left;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  color: #2f2f2f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
}
.tabs-wrapper ul.tabs li.current {
  background: #0167b9;
  color: #ffffff;
}
.tabs-wrapper .tab-content {
  display: none;
  float: left;
  text-align: left;
}
.tabs-wrapper .tab-content.current {
  display: inherit;
}
