html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
fonts,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* BORDER */
/* BORDER */
/* BORDER */
/* BORDER */
/* PADDING */
/* PADDING */
/* PADDING */
/* PADDING */
/* MARGIN */
/* MARGIN */
/* MARGIN */
/* MARGIN */
/* FLOAT */
/* FLOAT */
/* FLOAT */
/* FLOAT */
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
/* FLOAT */
/* FLOAT */
/* FLOAT */
/* FLOAT */
.clear {
  clear: both;
}
.dib {
  display: inline-block;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dn {
  display: none;
}
/* fonts */
/* fonts */
/* fonts */
/* fonts */
.bold {
  font-weight: 600;
}
.lighter {
  font-weight: 300;
}
.normal {
  font-weight: normal;
}
.italic {
  font-style: italic;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.tdn {
  text-decoration: none;
}
.tdu {
  text-decoration: underline;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
/* OTHER */
/* OTHER */
/* OTHER */
/* OTHER */
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.list {
  list-style-type: none;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* CONTENT */
/* CONTENT */
/* CONTENT */
/* CONTENT */
html {
  height: 100%;
}
body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  height: 100%;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
button {
  cursor: pointer;
}
textarea,
input {
  font-family: 'Lato', sans-serif;
}
#page {
  display: inline-block;
  margin: auto;
  width: 100%;
  min-height: 100%;
}
.content {
  width: 98%;
  margin: auto;
  display: block;
}
section#navigation {
  width: 200px;
  height: 100%;
  position: fixed;
  display: none;
}
section#navigation #wrapper {
  width: 100%;
  height: 100%;
}
section#navigation .user {
  padding: 10px 20px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
}
section#navigation .user span {
  font-size: 12px;
  font-weight: 300;
  display: block;
}
section#navigation .user span.name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
section#navigation .user .images {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  background: #ffffff;
  margin: 10px auto;
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#navigation .user .images img {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
}
section#navigation nav {
  float: left;
  width: 100%;
  margin: 10px 0;
}
section#navigation nav ul {
  float: left;
  width: 100%;
}
section#navigation nav ul li {
  display: block;
  width: 100%;
  position: relative;
}
section#navigation nav ul li:hover:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #FFF transparent transparent;
  position: absolute;
  top: 35%;
  right: 0;
}
section#navigation nav ul .active:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #FFF transparent transparent;
  position: absolute;
  top: 35%;
  right: 0;
}
section#navigation nav a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#navigation nav a i {
  margin-right: 10px;
}
section#navigation .footer {
  background: #004579;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 7px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: 300;
}
section#navigation .footer a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
section#navigation .footer a:hover {
  color: #ffffff;
}
label[for="trigger"] {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
  color: #ffffff;
}
.trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.trigger + label[for="trigger"],
section#main-content {
  transition: left 0.2s;
}
.trigger:checked + label[for="trigger"] {
  left: 210px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.trigger:checked ~ section#main-content {
  left: 200px;
}
.trigger:checked ~ section#navigation {
  display: inline-block;
}
section#main-content {
  background: #f4f4f2;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  height: 100%;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#main-content .rows {
  float: left;
  width: 100%;
  margin: 10px 0;
}
section#main-content .rows h3 {
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
section#main-content .row {
  float: left;
  width: 100%;
}
#title {
  width: 100%;
  margin: auto;
  display: table;
  text-align: center;
  height: 90px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
#title .content {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
}
#title h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}
#title nav {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 10px;
  display: inline-block;
  width: 100%;
}
#title nav ul {
  float: left;
  width: 100%;
}
#title nav ul li {
  display: inline-block;
  margin: 0px 6px;
  position: relative;
}
#title nav ul li:hover:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}
#title nav ul li:hover:before {
  bottom: -20px;
  left: 49%;
  border-width: 8px 7px 0 7px;
  z-index: 2;
}
#title nav ul .active:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  bottom: -15px;
  left: 49%;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #F4F4F4 transparent;
  z-index: 2;
}
#title nav ul .active a.active:before {
  content: none;
}
#title nav a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
}
#title nav a:hover {
  color: rgba(255, 255, 255, 0.5);
}
#title nav a i {
  margin-right: 5px;
}
#title .action {
  position: absolute;
  top: 10px;
  right: 10px;
}
#title .action a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 25px;
  margin-left: 15px;
  position: relative;
}
#title .action a:hover {
  color: #ffffff;
}
#title .action a span {
  position: absolute;
  top: -3px;
  right: -4px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  color: #ffffff;
  background: #ff0000;
  font-weight: 600;
  line-height: 20px;
}
section#visit,
section#cabinet {
  padding-top: 60px;
  height: 85%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#visit .window {
  padding: 15px;
  text-align: left;
  position: relative;
}
section#visit .filter {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e4;
  float: left;
  text-align: left;
}
section#search {
  padding-top: 30px;
}
section#search .window {
  padding: 15px;
  text-align: left;
  position: relative;
}
section#search input {
  margin: auto;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f4f4f4;
  border: 1px solid #e6e6e4;
  color: #b9b9b9;
}
section#search .filter {
  margin-bottom: 20px;
}
section#search .filter span.title {
  text-align: left;
  font-weight: 600;
  float: left;
  margin-bottom: 15px;
  height: 33px;
  line-height: 33px;
}
section#search .filter .hidden {
  float: right;
}
section#search .filter ul.field {
  float: left;
  width: 100%;
}
section#search .filter ul.field li {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#search .filter ul.field li:nth-child(2n) {
  padding-left: 10px;
}
section#search .filter ul.field label,
section#search .filter ul.field fieldset {
  float: left;
  width: 100%;
  text-align: left;
  margin: 4px 0;
  color: #b9b9b9;
  font-weight: 300;
}
section#search .filter ul.field li.time input {
  width: 85%;
}
section#search .filter ul.field li.time i {
  font-size: 28px;
  position: relative;
  float: right;
  top: 5px;
  margin-right: 5px;
  color: #0090ff;
}
section#search .filter ul.field li.full {
  width: 100%;
}
section#search .filter ul.action {
  text-align: center;
  display: inline-block;
  width: 100%;
  border: 0;
  margin: 10px auto auto;
  padding: 10px 0 0;
  border-top: 1px solid #e6e6e4;
}
section#search .filter ul.action li {
  display: inline-block;
  float: none;
  width: auto;
  margin: 0 8px;
}
section#search .filter.small {
  height: 76px;
  margin-top: -20px;
}
section#search .filter.small .hidden {
  display: none;
}
section#search .filter.small ul.field {
  width: 82%;
}
section#search .filter.small ul.field label {
  width: 20%;
  line-height: 38px;
}
section#search .filter.small ul.field fieldset {
  width: 80%;
}
section#search .filter.small ul.action {
  width: 18%;
  border-top: 0;
  margin-top: 5px;
  padding: 0;
  text-align: right;
}
section#search .filter.small ul.action li {
  margin: 0;
}
section#search .row.result {
  margin-top: 20px;
}
section#search .row.result .window {
  padding: 0 15px;
}
section#search ul.bxslider {
  float: left;
  width: 100%;
  margin: 0;
}
section#search ul.list,
section#visit ul.list {
  float: left;
  width: 100%;
}
section#search ul.list li,
section#visit ul.list li {
  float: left;
  width: 100%;
  display: table;
  position: relative;
}
section#search ul.list li:before,
section#visit ul.list li:before {
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background: #e6e6e4;
  display: inline-block;
}
section#search ul.list li:first-child,
section#visit ul.list li:first-child {
  border-top: 0;
}
section#search ul.list li:first-child:before,
section#visit ul.list li:first-child:before {
  content: none;
}
section#search .box,
section#visit .box {
  display: inline-block;
  width: 58%;
  border-left: 1px dotted #e6e6e4;
  padding: 10px 10px 10px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  min-height: 83px;
}
section#search .box:first-child,
section#visit .box:first-child {
  border-left: 0;
  padding-left: 0;
}
section#search .box a,
section#visit .box a {
  color: #005494;
  text-decoration: none;
}
section#search .box.first,
section#visit .box.first {
  border-left: 0;
  padding-left: 20px;
  width: 35%;
}
section#search .box.action,
section#visit .box.action {
  min-width: 45px;
  width: 3%;
  float: right;
  padding-right: 5px;
  text-align: right;
}
section#search .box.action a,
section#visit .box.action a {
  display: block;
  font-size: 24px;
  margin: 5px 0;
}
section#search .date-visit,
section#visit .date-visit {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 15px 5px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 17px;
  text-align: left;
  color: #0090ff;
  border-right: 1px solid #0090ff;
  position: relative;
}
section#search .date-visit span,
section#visit .date-visit span {
  position: absolute;
  top: 39%;
  right: -13px;
  background: #0090ff;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  width: 22px;
  height: 22px;
  z-index: 1;
  text-align: center;
}
section#search .date-visit span:before,
section#visit .date-visit span:before {
  content: '';
  font-family: FontAwesome;
  float: left;
  color: #ffffff;
  font-size: 13px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  text-align: center;
  z-index: 2;
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 23px;
}
section#search .date-visit.plane span:before,
section#visit .date-visit.plane span:before {
  content: '\f0f6';
}
section#search .date-visit.check span:before,
section#visit .date-visit.check span:before {
  content: '\f00c';
}
section#search .date-visit.ban span:before,
section#visit .date-visit.ban span:before {
  content: '\f05e';
}
section#search .box span.name,
section#visit .box span.name {
  height: auto;
  line-height: normal;
  width: 70%;
  float: left;
}
section#search .box .pic,
section#visit .box .pic {
  float: right;
  width: 23%;
  min-width: 60px;
}
section#search .box .images,
section#visit .box .images {
  float: left;
  width: 100%;
  height: auto;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  background: #f4f4f4;
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 80px;
  position: relative;
}
section#search .box .images a.more,
section#visit .box .images a.more {
  color: #ffffff;
  background: #0090ff;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  text-align: center;
}
section#search .box .images a.more i,
section#visit .box .images a.more i {
  font-size: 14px;
  color: #ffffff;
  margin-right: 0;
}
section#search .box .images img,
section#visit .box .images img {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
}
section#search .box span,
section#visit .box span {
  display: block;
  width: 100%;
}
section#search .box span.title,
section#visit .box span.title {
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
  color: #b9b9b9;
  padding: 0;
}
section#search .box span.specialization,
section#visit .box span.specialization {
  font-size: 12px;
}
section#search .box span.address,
section#visit .box span.address {
  margin-top: 10px;
  width: 100%;
}
section#search .box.first {
  padding-left: 0;
  width: 25%;
}
section#search .box {
  width: 35%;
  vertical-align: middle;
}
section#search .box.action {
  text-align: center;
}
section#search .box.action a {
  font-size: 20px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  border: 1px solid #005494;
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #005494;
  font-weight: 600;
  text-align: center;
  top: 15px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}
section#search .box.calendar {
  width: 35%;
}
section#search .box.calendar ul.day,
section#search .box.calendar ul.days {
  display: table;
  width: 100%;
  margin-bottom: 0;
}
section#search .box.calendar ul.day li,
section#search .box.calendar ul.days li {
  display: table-cell;
  width: 19.5%;
  padding: 5px 0;
  text-align: center;
  font-size: 13px;
}
section#search .box.calendar ul.day li:before,
section#search .box.calendar ul.days li:before {
  content: none;
}
section#search .box.calendar ul.day li {
  background: #0090ff;
  border-left: 1px solid #e6e6e4;
  text-align: center;
  color: #ffffff;
}
section#search .box.calendar ul.day li:first-child {
  border: 0;
}
section#cabinet .col,
section#cabinet .row {
  height: 100%;
}
section#cabinet .window {
  padding: 15px 10px;
  min-height: 95%;
}
section#cabinet .add {
  margin: auto;
  color: #0090ff;
  font-size: 32px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
section#cabinet ul.data {
  float: left;
  width: 100%;
}
section#cabinet ul.data li {
  float: left;
  display: table;
  border-top: 1px solid #e6e6e6;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
section#cabinet ul.data li:first-child {
  border-top: 0;
}
section#cabinet ul.data li.deactive:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
section#cabinet ul.data li.deactive span {
  color: rgba(0, 0, 0, 0.5) !important;
}
section#cabinet ul.data li.deactive a {
  color: rgba(0, 0, 0, 0.5) !important;
}
section#cabinet ul.data li.deactive a:hover {
  color: #005494 !important;
}
section#cabinet .info {
  display: table-cell;
  vertical-align: middle;
  width: 90%;
  position: relative;
}
section#cabinet .info input[type=text],
section#cabinet .info textarea {
  float: left;
  width: 100%;
  padding: 8px 10px;
  background: #f4f4f4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  font-size: 18px;
  color: #2f2f2f;
  font-weight: 300;
  margin-bottom: 5px;
  border: 1px solid #e6e6e4;
}
section#cabinet .info input[type=text]:disabled,
section#cabinet .info textarea:disabled {
  background: none;
  border: 0;
  padding: 8px 0;
}
section#cabinet .info textarea {
  resize: none;
  min-height: 40px !important;
  max-width: 764px;
}
section#cabinet .info a {
  color: #2f2f2f;
  text-decoration: none;
  float: left;
  width: 95%;
  font-size: 18px;
}
section#cabinet .info span.time,
section#cabinet .info span.title {
  float: left;
}
section#cabinet .info span.title {
  width: 100%;
  margin-bottom: 10px;
}
section#cabinet .field {
  width: 100%;
  float: left;
  min-height: 45px;
}
section#cabinet .field:hover .delete {
  display: inline-block;
}
section#cabinet .field span {
  font-size: 16px;
  margin: 0 !important;
}
section#cabinet .field .delete {
  font-size: 20px;
  float: left;
  width: auto;
  line-height: 40px;
  height: 40px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  font-size: 26px;
  color: #0090ff;
}
section#cabinet .field fieldset {
  float: left;
  width: 65%;
  position: relative;
}
section#cabinet .field fieldset:first-child {
  width: 35%;
}
section#cabinet .field fieldset:first-child input[type=text] {
  width: 100% !important;
  margin-left: 0;
}
section#cabinet .field fieldset ul li,
section#cabinet .field fieldset ul span {
  font-size: 14px;
}
section#cabinet .field fieldset input[type=text] {
  width: 43% !important;
  display: inline-block;
  margin-left: 2%;
}
section#cabinet .field fieldset input[type=text]:disabled {
  padding: 8px 10px;
  text-align: center;
}
section#cabinet .field fieldset span {
  float: left;
  margin: 0 10px;
}
section#cabinet .field .images {
  float: left;
  width: auto;
  margin: 5px 0;
}
section#cabinet .field .images img {
  float: left;
}
section#cabinet .field.one {
  width: 100%;
  text-align: left;
}
section#cabinet .field.one fieldset {
  float: left;
  width: 10%;
  position: relative;
}
section#cabinet .field.one fieldset:first-child {
  width: 80%;
}
section#cabinet .field.one fieldset input[type=text]:disabled,
section#cabinet .field.one fieldset textarea:disabled {
  text-align: left;
}
section#cabinet .action.line,
section#cabinet .action.block {
  display: table-cell;
  vertical-align: middle;
  font-size: 26px;
  position: relative;
  z-index: 2;
  text-align: right;
  min-width: 60px;
  width: 10%;
}
section#cabinet .action.line a,
section#cabinet .action.block a {
  margin: 5px 3px;
}
section#cabinet .action.line {
  min-width: 120px;
  width: 10%;
}
section#cabinet .action.line a {
  display: inline-block;
}
section#cabinet .action.line .switch {
  display: inline-block;
  top: 5px;
}
section#cabinet .action.block {
  min-width: 60px;
  width: 10%;
}
section#cabinet .action.block a {
  display: block;
  width: 100%;
}
section#cabinet .info.current .color {
  float: left;
  width: 34px;
  height: 34px;
  border: 1px solid #e6e6e4;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  padding: 2px;
  margin-right: 10px;
}
section#cabinet .info.current .color .minicolors-theme-default.minicolors {
  width: 100%;
  height: 100%;
}
section#cabinet .info.current fieldset {
  width: 80%;
  float: left;
}
section#cabinet .info.current .time {
  font-size: 14px;
  float: left;
}
section#cabinet .info.current .time label {
  height: 40px;
  line-height: 40px;
  float: left;
  color: #0090ff;
}
section#cabinet .info.current .time fieldset {
  width: 150px;
}
section#cabinet .info.current .time fieldset input[type=text] {
  width: 45px;
  display: inline-block;
  float: left;
  text-align: center;
  margin: 0 10px 0 10px;
}
section#cabinet .info.current .time fieldset input[type=text]:disabled {
  margin: 0;
  color: #0090ff;
}
section#cabinet ul.doctor {
  float: left;
  width: 100%;
  display: table;
}
section#cabinet ul.doctor li {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  margin: 5px 0;
}
section#cabinet ul.doctor li .box {
  display: inline-block;
  width: 98%;
  border: 1px solid #e6e6e4;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 300px;
  position: relative;
  margin-left: 10px;
}
section#cabinet ul.doctor li .box:first-child {
  margin-left: 0;
}
section#cabinet ul.doctor li.deactive .box:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: 1;
}
section#cabinet ul.doctor span.name {
  height: auto;
  line-height: normal;
  width: 100%;
  float: left;
}
section#cabinet ul.doctor .pic {
  margin: 10px auto;
  width: 100%;
  min-width: 60px;
  float: left;
  text-align: center;
}
section#cabinet ul.doctor .images {
  margin: auto;
  width: 100%;
  display: inline-block;
  height: auto;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  background: #f4f4f4;
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 80px;
  position: relative;
}
section#cabinet ul.doctor .images a.more {
  color: #ffffff;
  background: #0090ff;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  text-align: center;
}
section#cabinet ul.doctor .images a.more i {
  font-size: 14px;
  color: #ffffff;
  margin-right: 0;
}
section#cabinet ul.doctor .images img {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
}
section#cabinet ul.doctor span {
  display: block;
  width: 100%;
}
section#cabinet ul.doctor span.title {
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
  color: #b9b9b9;
  padding: 0;
}
section#cabinet ul.doctor span.specialization {
  font-size: 12px;
}
section#cabinet ul.doctor span.address {
  margin-top: 10px;
  width: 100%;
}
section#cabinet ul.doctor .action.line {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
section#calendar {
  padding-top: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#calendar .window {
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#calendar .timeline {
  position: absolute;
  width: 100%;
  color: #ce5f00;
  left: 0;
  z-index: 5;
  font-size: 10px;
  text-align: left;
}
section#calendar .timeline:before {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  background: #ce5f00;
}
section#calendar ul.days {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
section#calendar ul.days li.hour {
  width: 3%;
}
section#calendar ul.days li {
  padding: 0 0.4%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0;
  display: table-cell;
  width: 14%;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
}
section#calendar ul.days span {
  font-size: 13px;
  display: block;
  font-weight: 400;
}
section#calendar .event {
  padding: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 96%;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  z-index: 2;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 12px;
  float: left;
  margin: 0.5% 2%;
}
section#calendar .event a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
section#calendar .month {
  float: left;
  width: 100%;
}
section#calendar .month ul.table {
  float: left;
  width: 100%;
  border-right: 1px solid #e6e6e4;
  border-top: 1px solid #e6e6e4;
}
section#calendar .month ul.table li {
  width: 100%;
  display: table;
}
section#calendar .month .day {
  margin: 10px 0;
  display: table-cell;
  width: auto;
  border: 1px solid #e6e6e4;
  border-right: 0;
  border-top: 0;
  position: relative;
  overflow: hidden;
}
section#calendar .month .day:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
section#calendar .month .day .box {
  margin: auto;
  display: inline-block;
  background: #f4f4f4;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
section#calendar .month .day .box:hover {
  background: #dedede;
}
section#calendar .month .day .box:before {
  content: '';
  display: inline-block;
  margin-top: 100%;
}
section#calendar .month .day .hidden {
  background: #ffffff;
}
section#calendar .month .day .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
section#calendar .month .day a.add {
  text-decoration: none;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
section#calendar .month .day .number {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: right;
  padding-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #b9b9b9;
  font-weight: 900;
  font-size: 20px;
}
section#calendar .month .day .events {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}
section#calendar .month .day .event {
  position: relative;
}
section#calendar .month .day .info-box {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 12px;
}
section#calendar .month .day .info-box .visit {
  display: table-cell;
  vertical-align: middle;
}
section#calendar .month .day .info-box .count {
  font-size: 14px;
  margin-bottom: 4px;
  color: #ffffff;
}
section#calendar .month .day .info-box ul {
  float: left;
  width: 100%;
  padding: 0 1vw;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#calendar .month .day .info-box ul li {
  display: inline-block;
  color: #ffffff;
  text-align: left;
  margin: 4px 0;
}
section#calendar .month .day .info-box ul li span {
  display: inline-block;
}
section#calendar .month .day .info-box .more {
  font-size: 16px;
}
section#calendar .week .event,
section#calendar .oneday .event {
  position: absolute;
}
section#calendar .week .day,
section#calendar .oneday .day {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  position: relative;
}
section#calendar .week .day:before,
section#calendar .oneday .day:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
section#calendar .week .day .box,
section#calendar .oneday .day .box {
  margin: auto;
  display: inline-block;
  background: #f4f4f4;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #e6e6e4;
}
section#calendar .week .day .box:hover,
section#calendar .oneday .day .box:hover {
  background: #dedede;
}
section#calendar .week .day .box:before,
section#calendar .oneday .day .box:before {
  content: '';
  display: inline-block;
}
section#calendar .week ul.table,
section#calendar .oneday ul.table {
  position: relative;
  float: left;
  width: 100%;
  display: table;
}
section#calendar .week {
  float: left;
  width: 100%;
}
section#calendar .week ul.days li.hour {
  width: 3.5%;
  min-width: 41px;
}
section#calendar .week ul.table {
  border-right: 1px solid #e6e6e4;
  border-top: 1px solid #e6e6e4;
}
section#calendar .week ul.table li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0;
  display: table-cell;
  width: auto;
  position: relative;
  border-left: 1px solid #e6e6e4;
}
section#calendar .week ul.table li.hour {
  width: 3.5%;
  min-width: 45px;
  vertical-align: top;
  padding: 0;
  border-left: 0;
}
section#calendar .week ul.table li.hour .day {
  vertical-align: top;
}
section#calendar .week ul.table li.hour .day .box {
  height: 100%;
  background: none;
}
section#calendar .week ul.table li.hour .day .box:before {
  content: none;
}
section#calendar .week ul.table li.hour .day .box span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  color: #b9b9b9;
}
section#calendar .week .day .box:before {
  margin-top: 163px;
}
section#calendar .oneday .window {
  text-align: left;
  position: relative;
}
section#calendar .oneday .window .images {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-block;
  width: 25%;
  height: auto;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  background: #f4f4f4;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100px;
}
section#calendar .oneday .window .images img {
  width: 100%;
  height: auto;
  float: left;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
}
section#calendar .oneday .window ul.data li {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  display: block;
}
section#calendar .oneday .window ul.data li:last-child {
  margin-bottom: 0;
}
section#calendar .oneday .window ul.data li.line {
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}
section#calendar .oneday .window ul.data i {
  font-size: 18px;
  margin-right: 6px;
}
section#calendar .oneday .window ul.data a {
  text-decoration: none;
}
section#calendar .oneday .window ul.data a:hover {
  color: #2f2f2f;
  font-weight: 600;
}
section#calendar .oneday .window p {
  display: block;
  margin-top: 5px;
  line-height: 24px;
}
section#calendar .oneday .window span.title {
  font-weight: 600;
}
section#calendar .oneday .window span.name {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  width: 60%;
}
section#calendar .oneday .window span.address {
  float: left;
  width: 100%;
  line-height: 24px;
  margin: 10px 0;
}
section#calendar .oneday ul.table li {
  margin: 10px 0;
  display: table-cell;
  width: auto;
  position: relative;
}
section#calendar .oneday ul.table li.hour {
  width: 8%;
  vertical-align: top;
  padding: 0;
  min-width: 35px;
}
section#calendar .oneday ul.table li.hour .day {
  vertical-align: top;
}
section#calendar .oneday ul.table li.hour .day .box {
  height: 100%;
  background: none;
}
section#calendar .oneday ul.table li.hour .day .box:before {
  content: none;
}
section#calendar .oneday ul.table li.hour .day .box span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  color: #b9b9b9;
}
section#calendar .oneday ul.days li {
  float: left;
  width: 100%;
  font-weight: 600;
}
section#calendar .oneday .day .box:before {
  margin-top: 25%;
}
section#calendar .oneday .col {
  vertical-align: top;
}
/* COLOR BASE */
/* COLOR BASE */
/* COLOR BLUE */
.blue section#navigation {
  background: #0090ff;
}
.blue section#navigation .user {
  background: #005494;
}
.blue section#navigation ul li:hover {
  background: #005494;
}
.blue section#navigation ul .active {
  background: #005494;
}
.blue #title {
  background: #0090ff;
}
.blue #title nav ul li:hover:before {
  border-color: #0090ff transparent transparent transparent;
}
.blue section#cabinet ul.data li span {
  color: #0090ff;
}
.blue section#cabinet a,
.blue section#cabinet .upload {
  color: #0090ff;
  cursor: pointer;
}
.blue section#cabinet a:hover,
.blue section#cabinet .upload:hover {
  color: #005494;
}
.blue section#calendar ul.days li {
  color: #0090ff;
}
.blue section#calendar .month .day .box .mark {
  background: #0090ff;
}
.blue section#calendar .month .day .info-box ul {
  background: #0090ff;
}
.blue section#calendar .month .day .info-box .more {
  color: #0090ff;
}
.blue section#calendar .oneday .window ul.data i {
  color: #005494;
}
.blue section#calendar .oneday .window ul.data a {
  color: #0090ff;
}
.blue section#calendar .title-window .box span {
  color: #005494;
}
.blue section#calendar .title-window .box a {
  color: #0090ff;
}
.blue section#calendar .title-window .box a:hover {
  color: #0099ff;
}
.blue section#calendar .title-window .visit span {
  background: #0090ff;
}
@media only screen and (max-width: 992px) {
  .blue section#calendar .month .day .info-box .count {
    background: #0090ff;
  }
}
.blue .pagination a {
  color: #005494;
}
.blue .pagination a:hover {
  background: #0090ff;
}
/* COLOR BLUE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
  section#visit .col,
  section#cabinet .col,
  section#search .col {
    width: 99% !important;
  }
  section#calendar .month .col,
  section#calendar .week .col {
    width: 99% !important;
  }
  section#calendar .onday .col-7 {
    width: 99% !important;
  }
}
@media only screen and (max-width: 992px) {
  section#calendar .month .day .info-box .count {
    padding: 5px;
    color: #ffffff;
    font-size: 12px;
  }
  section#calendar .month .day .info-box ul,
  section#calendar .month .day .info-box .more {
    display: none;
  }
  section#calendar .days .day {
    font-size: 16px;
  }
  section#calendar .week .day .box:before {
    margin-top: 120px;
  }
  section#calendar .oneday .col-7 {
    width: 98% !important;
  }
  section#calendar .oneday ul.days .li {
    font-size: 14px;
  }
  section#visit .box {
    width: 47%;
  }
  section#visit .box.first {
    width: 45%;
  }
  section#visit .date-visit {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  section#calendar .month ul.days .li {
    font-size: 14px;
  }
  section#calendar .month .day .number {
    font-size: 14px;
  }
  section#calendar .month .day .box:before {
    margin-top: 150%;
  }
  section#calendar .week ul.days li.hour {
    min-width: 40px;
  }
  section#calendar .week ul.days li {
    font-size: 14px;
  }
  section#calendar .week ul.days li span {
    font-size: 12px;
  }
  section#calendar .week .day .box:before {
    margin-top: 100px;
  }
  section#calendar .oneday ul.days li {
    font-size: 14px;
  }
  section#calendar .oneday .day .box:before {
    margin-top: 140px;
  }
  section#calendar .oneday ul.table li.hour .day .box span {
    font-size: 12px;
  }
  section#calendar .oneday .pagination {
    text-align: center;
  }
  section#calendar .oneday .pagination a {
    display: inline-block;
    float: none;
  }
  section#visit .box {
    width: 85%;
  }
  section#visit .box.first {
    width: 100%;
  }
  section#visit .box.action {
    width: auto;
    border: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: auto;
  }
  section#visit .box.action a {
    margin: 0 5px;
    display: inline-block;
  }
  section#visit .box span.name {
    width: 70%;
  }
  section#visit .box .pic {
    float: right;
    width: 60px;
  }
  section#cabinet .info {
    width: 100%;
  }
  section#cabinet .info span.title {
    margin-bottom: 25px;
  }
  section#cabinet .option fieldset {
    width: 70%;
  }
  section#cabinet .option fieldset input {
    width: 42% !important;
  }
  section#cabinet .option fieldset:first-child {
    width: 30%;
  }
  section#cabinet .option .delete {
    padding: 0;
    float: right;
  }
  section#cabinet .action.block {
    position: absolute;
    top: 5px;
    right: 0;
    width: 100%;
  }
  section#cabinet .action.block a {
    display: inline-block;
    width: auto;
    margin: 0 5spx;
  }
  section#cabinet ul.doctor {
    display: inline-block;
  }
  section#cabinet ul.doctor li {
    display: inline-block;
    padding: 0;
    width: 49.6%;
  }
  section#cabinet ul.doctor li .box {
    width: 95%;
  }
}
@media only screen and (max-width: 480px) {
  section#visit,
  section#cabinet,
  section#calendar {
    padding-top: 20px;
  }
  #title {
    height: auto;
  }
  #title h2 {
    padding-top: 12px;
    font-size: 20px;
  }
  #title nav {
    width: 100%;
    margin-bottom: 3spx;
  }
  #title nav ul {
    display: table;
    width: 100%;
  }
  #title nav ul li {
    display: table-cell;
    width: auto;
  }
  #title nav ul li a i {
    font-size: 26px;
  }
  #title nav ul li a span {
    display: block;
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
  }
  #title nav ul li:hover:before,
  #title nav ul li:hover:after {
    content: none;
  }
  #title nav ul .active:before,
  #title nav ul .active:after {
    content: none;
  }
  #title .action a {
    font-size: 22px;
  }
  #title .action a span {
    right: -7px;
  }
  section#cabinet .window {
    padding: 10px 5px;
  }
  section#cabinet .info {
    width: 100%;
    display: inline-block;
  }
  section#cabinet .info a {
    width: 100%;
  }
  section#cabinet .info span.title {
    margin-bottom: 25px;
  }
  section#cabinet .field {
    margin-top: 20px;
  }
  section#cabinet .field fieldset {
    width: 100%;
    margin-bottom: 5px;
  }
  section#cabinet .field fieldset:first-child {
    width: 100%;
  }
  section#cabinet .field fieldset input[type=text] {
    width: 80% !important;
    margin-left: 0;
  }
  section#cabinet .field fieldset input[type=text]:disabled {
    width: 60px !important;
  }
  section#cabinet .field .images {
    float: left;
    width: 50%;
  }
  section#cabinet .field .images img {
    width: 69%;
    max-width: 100px;
  }
  section#cabinet .field.one {
    margin-top: 0;
  }
  section#cabinet .field.one fieldset input[type=text]:disabled {
    width: 100% !important;
  }
  section#cabinet .action.line {
    float: left;
    width: 100%;
  }
  section#cabinet ul.doctor li {
    width: 100%;
  }
  section#cabinet ul.doctor li .box {
    width: 100%;
    min-height: auto;
  }
  section#calendar .window {
    padding: 10px 5px;
  }
  section#calendar .event {
    font-size: 10px;
    margin: 2%;
    padding: 2px;
  }
  section#calendar .month .day .box:before {
    margin-top: 200%;
  }
  section#calendar .month .day .number {
    font-size: 12px;
    padding-right: 10%;
  }
  section#calendar .week ul.days span {
    display: none;
  }
  section#calendar .week ul.days li.hour {
    min-width: 30px;
  }
  section#calendar .week ul.days li {
    font-size: 12px;
    width: auto;
  }
  section#calendar .week .day .box:before {
    margin-top: 70px;
  }
  section#calendar .week ul.table li {
    padding: 0;
  }
  section#calendar .week ul.table li.hour {
    min-width: 30px;
  }
  section#calendar .week ul.table li.hour .day .box span {
    font-size: 10px;
  }
  section#calendar .oneday .event {
    padding: 10px;
    font-size: 14px;
  }
  section#calendar .oneday .col {
    margin-left: 0;
    width: 100%;
  }
  section#calendar .oneday .row .col {
    display: none;
  }
  section#calendar .oneday .row .col:first-child {
    display: inline-block;
  }
  section#calendar .oneday ul.days li {
    font-size: 14px;
  }
  section#calendar .oneday .window ul li .btn {
    width: 150px;
    display: block;
    margin: 5px auto;
    text-align: left;
  }
  section#visit ul.list li,
  section#search ul.list li {
    padding: 15px 0;
  }
  section#visit .date-visit,
  section#search .date-visit {
    width: 100%;
    display: inline-block;
    padding: 0;
    border: 0;
  }
  section#visit .date-visit span,
  section#search .date-visit span {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    margin-right: 5px;
  }
  section#visit .box,
  section#search .box,
  section#visit .box.first,
  section#search .box.first {
    width: 100%;
    padding: 0;
    border: 0;
  }
  section#visit .box,
  section#search .box {
    margin-top: 10px;
  }
  section#visit .box.action,
  section#search .box.action {
    width: auto;
    border: 0;
    position: absolute;
    top: 5px;
    right: 0;
    margin-top: 0;
  }
  section#visit .box.action a,
  section#search .box.action a {
    display: inline-block;
    margin: 0 5px;
  }
  section#visit .box span.name,
  section#search .box span.name {
    width: 70%;
  }
  section#visit .box .pic,
  section#search .box .pic {
    float: right;
    width: 60px;
  }
  /* WINDOW */
  #layer .col {
    width: 90%;
  }
  #layer ul.action li {
    float: left;
    width: 100%;
    padding: 5px 0;
  }
  /* WINDOW */
}
@media only screen and (max-width: 480px) and (orientation: landscape) {
  section#navigation .footer {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 992px) {
  section#main-content {
    height: auto;
  }
}
